/* General */

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color: #333;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

/* Active States */

.active {
  color: red;
}

.activeBtn {
  color: red;
}

/* End */
